/* Define Primary and Secondary Colors */
:root {
    --primary-color: #5FB4F7; /* Replace with your primary color */
    --secondary-color: rgba(255, 255, 255, 0.7); /* Replace with your secondary color */
}

.page{
    max-width: 1600px !important;
    margin-inline: auto !important;
    padding-inline: 40px;
}

@media (max-width: 767px) {
    .page{
        padding-inline: 20px !important;
    }
}


/* Default Utility Classes */
.text-center {
    text-align: center;
}

.text-primary {
    color: var(--primary-color);
}

.text-white {
    color: white;
}


.text-secondary {
    color: var(--secondary-color);
}

.bg-primary {
    background-color: var(--primary-color);
    color: #fff; /* Ensures text is visible */
}

.bg-secondary {
    background-color: var(--secondary-color);
    color: #fff;
}

.navLink {
    color: white;
    letter-spacing: .1em;
    text-transform: uppercase !important;
    padding: 10px !important;
    font-family: Roboto Mono, sans-serif;
    font-size: 14px !important;
    font-weight: 500 !important;
    line-height: 100% !important;
    text-decoration: none;
    display: inline-block;

    transition: all 0.7s;
}

.navLink:hover {
    color: var(--primary-color) !important;
}

.active{
    color: var(--primary-color) !important;
    border-bottom: 2px solid var(--primary-color) !important;
}

.link{
    color: var(--primary-color);
}
.uppercase{
    text-transform: uppercase;
}
.font-bold{
    font-weight: 800;
    color: white;
}