@import url("reset.css");
@import url("base.css");
@import url("typography.css");

body{
    background-color: black;
}

nav{
    padding-block: 24px;
    background-image:linear-gradient(#000c, #0000);
}

nav > .navbar{
    padding-inline: 32px;
}