/* Typography Styles */

/* Base Typography */
body {
    font-family: 'Arial', sans-serif; /* Default font */
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: 0.5rem;
}

/* Heading Sizes */
h1 {
    font-size: 96px;
}

h2 {
    font-size: 56px;
}

p {
    font-size: 18px;
    color: var(--secondary-color);
}

/* Responsive Typography */
@media (max-width: 1200px) {
    h1 {
        font-size: 87px !important;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 67px !important;
    }

    h2 {
        font-size: 40px !important;
    }

    p {
        font-size: 15px !important;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 50px !important;
    }

    h2 {
        font-size: 30px !important;
    }

    p {
        font-size: 15px !important;
    }
}
